html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oculto {
    visibility: hidden;
}

td, th {
    text-align: center;
}

.display {
    display: none;
}

#btnAgregarVehiculo{
    padding: 6px;
}